/* From Uiverse.io by Satwinder04 */
.input-container {
  position: relative;
}

.input-container input[type="text"],
.input-container input[type="password"] {
  font-size: 17px;
  width: 100%;
  border: none;
  border-bottom: 2px solid #ccc;
  background-color: transparent;
  outline: none;
  border-radius: 0px;
}

.input-container .label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 0 1.2rem 0;
  transition: all 0.3s ease;
  pointer-events: none;
}

.input-container input[type="text"]:focus ~ .label,
.input-container input[type="text"]:valid ~ .label,
.input-container input[type="password"]:focus ~ .label,
.input-container input[type="password"]:valid ~ .label {
  top: -20px;
  font-size: 16px;
  opacity: 50%;
}

.input-container .underline {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: #333;
  transform: scaleX(0);
  transition: all 0.3s ease;
}

.input-container input[type="text"]:focus ~ .underline,
.input-container input[type="text"]:valid ~ .underline,
.input-container input[type="password"]:focus ~ .underline,
.input-container input[type="password"]:valid ~ .underline {
  transform: scaleX(1);
}
