@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}

.text-gradient {
  color: transparent;
  background: linear-gradient(to right, #ac59d6, #8b5cf6);
  background-clip: text;
  -webkit-background-clip: text;
}

.bg-gradient {
  background: linear-gradient(to right, #ac59d6, #8b5cf6);
}

.bg-blur-purple {
  background-color: hsla(67, 0%, 12%, 1);
  background-image: radial-gradient(
      at 69% 66%,
      hsla(258, 89%, 66%, 0.34) 0px,
      transparent 50%
    ),
    radial-gradient(at 0% 63%, hsla(279, 100%, 59%, 0.69) 0px, transparent 50%),
    radial-gradient(at 14% 0%, hsla(215, 0%, 12%, 1) 0px, transparent 50%),
    radial-gradient(at 100% 0%, hsla(258, 89%, 66%, 0.47) 0px, transparent 50%),
    radial-gradient(at 61% 100%, hsla(120, 0%, 12%, 1) 0px, transparent 50%),
    radial-gradient(at 23% 0%, hsla(323, 0%, 12%, 1) 0px, transparent 50%),
    radial-gradient(at 0% 37%, hsla(201, 0%, 12%, 1) 0px, transparent 50%),
    radial-gradient(at 0% 100%, hsla(258, 100%, 66%, 1) 0px, transparent 50%),
    radial-gradient(at 90% 86%, hsla(279, 100%, 59%, 1) 0px, transparent 50%);
  filter: blur(8px);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  opacity: 45%;
}

.bg-gradient-header {
  background-color: hsla(171, 0%, 12%, 1);
  background-image: radial-gradient(
      at 28% 51%,
      hsla(70, 0%, 0%, 1) 0px,
      transparent 50%
    ),
    radial-gradient(at 68% 51%, hsla(213, 0%, 0%, 1) 0px, transparent 50%),
    radial-gradient(at 50% 52%, hsla(323, 0%, 0%, 1) 0px, transparent 50%),
    radial-gradient(at 51% 4%, hsla(197, 0%, 0%, 1) 0px, transparent 50%),
    radial-gradient(at 98% 18%, hsla(289, 0%, 0%, 1) 0px, transparent 50%),
    radial-gradient(at 99% 55%, hsla(279, 100%, 59%, 0.74) 0px, transparent 50%),
    radial-gradient(at 50% 99%, hsla(279, 59%, 59%, 0.07) 0px, transparent 50%),
    radial-gradient(at 2% 22%, hsla(215, 0%, 0%, 1) 0px, transparent 50%),
    radial-gradient(at 3% 6%, hsla(129, 0%, 0%, 1) 0px, transparent 50%),
    radial-gradient(at 98% 2%, hsla(30, 0%, 0%, 1) 0px, transparent 50%),
    radial-gradient(at 0% 100%, hsla(279, 59%, 59%, 1) 0px, transparent 50%),
    radial-gradient(at 99% 96%, hsla(258, 89%, 66%, 0.74) 0px, transparent 50%),
    radial-gradient(at 0% 56%, hsla(279, 100%, 59%, 0.86) 0px, transparent 50%);
  z-index: -1;
  opacity: 30%;
  filter: blur(8px);
  position: absolute;
  top: 0;
}

img {
  pointer-events: none;
}

* {
  user-select: none;
  -webkit-user-select: none;
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

::-webkit-scrollbar-horizontal {
  height: 12px;
}

::-webkit-scrollbar-vertical {
  width: 12px;
}
