.bg-blur-purple {
  background-color: hsla(279, 60%, 59%, 1);
  background-image: radial-gradient(
      at 33% 1%,
      hsla(213, 0%, 12%, 1) 0px,
      transparent 50%
    ),
    radial-gradient(at 56% 89%, hsla(260, 34%, 38%, 1) 0px, transparent 50%),
    radial-gradient(at 62% 1%, hsla(163, 0%, 12%, 1) 0px, transparent 50%),
    radial-gradient(at 62% 1%, hsla(163, 0%, 12%, 1) 0px, transparent 50%),
    radial-gradient(at 0% 34%, hsla(102, 0%, 12%, 1) 0px, transparent 50%),
    radial-gradient(at 0% 1%, hsla(240, 0%, 12%, 1) 0px, transparent 50%),
    radial-gradient(at 0% 98%, hsla(242, 100%, 70%, 1) 0px, transparent 50%),
    radial-gradient(at 98% 7%, hsla(258, 89%, 66%, 1) 0px, transparent 50%);
  filter: blur(8px);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  opacity: 70%;
}

.container {
  position: relative;
  padding: 2rem;
  z-index: 1; /* Garantindo que o conteúdo fique acima do fundo */
}